<md-card>
    <md-card-content>
        <h2>Comments</h2>
        <md-card>
            <md-card-content>
                <form name="comment__create" ng-submit="commentList.create($event)">
                    <md-input-container>
                        <label>Username</label>
                        <input name="username" ng-model="commentList.comment.username" required>
                        <i ng-show="comment__create.username.$touched && comment__create.username.$error.required">Поле обязательно к заполнению!</i>
                    </md-input-container>

                    <md-input-container>
                        <label>Message</label>
                        <textarea name="body" ng-model="commentList.comment.body" rows="3" required></textarea>
                        <i ng-show="comment__create.body.$touched && comment__create.body.$error.required">Поле обязательно к заполнению!</i>
                    </md-input-container>

                    <md-button type="submit" class="md-raised md-primary">Send</md-button>
                </form>
            </md-card-content>
        </md-card>
        <h4 ng-if="!comments">Loading...</h4>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="comment in comments | orderBy: '-created_at'">
                <img ng-src="http://lorempixel.com/100/100/people/" class="face">

                <div class="md-list-item-text">
                    <h3>{{ comment.username }}</h3>
                    <h4>{{ comment.created_at }}</h4>

                    <p>{{ comment.body }}</p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>