<md-card>
    <md-card-content>
        <h2>Comments</h2>
        <md-card>
            <md-card-content>
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="vm.article.title" required>
                </md-input-container>

                <md-input-container>
                    <label>Message</label>
                    <textarea ng-model="vm.article.description" rows="3" required></textarea>
                </md-input-container>

                <md-button type="submit" class="md-raised md-primary">Send</md-button>
            </md-card-content>
        </md-card>
        <h4 ng-if="!comments">Loading...</h4>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="comment in comments">
                <img ng-src="http://lorempixel.com/100/100/people/" class="face">

                <div class="md-list-item-text">
                    <h3>{{ comment.username }}</h3>
                    <h4>{{ comment.created_at }}</h4>

                    <p>{{ comment.body }}</p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>