@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
    font-family: 'Roboto Slab', serif;
}

md-toolbar.md-default-theme {
    background-color: black;
}

.md-title {
    font-size: 24px;
}

a {
    color: rgba(0, 0, 0, 0.87);
}

.page-404 {
    text-align: center;
    font-size: 50px;
    margin-top: 15%;
}